.icono {
    font-size: 164px !important;
}

 .icono {
    color: rgb(150, 209, 219) !important;
}

.boton {
    border-radius: 10px;
    margin-bottom: 10px;
}

.registrarse {
    --background: rgb(150, 209, 219) !important;
    color: white;
}
.iniciar {
    border: 1px solid  rgb(150, 209, 219) !important;
    --background:white;
    color:  rgb(150, 209, 219) !important;
}

a {
    color: rgb(150, 209, 219) !important;
}

ion-content {
    --background: rgb(243, 243, 243) !important;
}
ion-spinner {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
.btn-iniciar-sesion {
    --background: rgb(150, 209, 219) !important;
}

.btn-atras {
    color: rgb(150, 209, 219) !important;
    --padding-start:5px;
    button {
        margin-left: 5px;
    }
}