<ion-content fullscreen="true">
  <ion-button fill="clear" [routerLink]="['/correo']" routerDirection="back" class="btn-atras">
    <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="ion-text-center">
    <ion-icon name="gift" class="icono"></ion-icon>
  </div>
  <div class="ion-text-center">
    <h1 class="ion-no-margin">
      <b>
        GiftParty App
      </b>
    </h1>
    <p class="ion-no-margin">
      Tu gestor de eventos.
    </p>
  </div>


  <div class="ion-text-center">
    <h3>
      Verifica tu correo
    </h3>
    <ion-spinner name="crescent"></ion-spinner>
  </div>



  <div style="position: absolute; bottom: 0px;" class="ion-text-center ion-padding">
    <p>
      Al presionar cualquiera de las opciones de arriba, aceptas los <a color="danger"> Terminos de servicio</a> y <a>Politica de privacidad</a> de GiftParty.
    </p>
    <h5 style="font-weight: bold;">
        Version 1.0.0
    </h5>
  </div>
</ion-content>
