
* {
    font-family: 'Lato';
}
p{
    color: black !important;
    font-weight: 500;
}
ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
.dot {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    align-self: start;
    margin: 30px 10px 16px 16px;
  }
  
  .dot-unread {
    background: var(--ion-color-primary);
  }