.a {
    border-radius: 25px;
    border: 1px solid black;
}

.carta {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(to right,#e66465, #9198e5);
    padding: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin-bottom: 10px;
}
.numEvento {
    color: white;
    font-weight: bold;
}
ion-card {
    margin-bottom: 10px;
}

ion-card:last-child {
    margin-bottom: 70px;
}
* {
    font-family: 'Lato';
    font-weight: bolder;
    letter-spacing: 1px;
}
.b{
    border: 1px solid rgb(236, 236, 236);
    margin: 0px;
    margin-bottom: 20px;
}
.b:last-child {
    margin-bottom: 130px;
}

ion-item {
    --padding-start:5px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
  }