.evento {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:white ;
    margin: 20px !important; 
    padding: 10px;
    // border: 0.1px solid black; 
    border-radius: 12px !important; 
}
ion-content {
    --background:linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-color: #8BC6EC;
}
ion-list {
    background-color: transparent;
}
* {
    font-family: 'Lato';
    font-weight: bolder;
    letter-spacing: 1px;
}