ion-tab-bar {
    position: absolute;
    bottom: 0;
    width: 90%;
    --background: rgb(255, 255, 255,0.6);
    
    align-self: center;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 1px solid rgb(207, 207, 207) !important;
    height: 50px !important;
    padding: 0px;
    ion-tab-button {
        --background: rgb(255, 255, 255,0.8);
        height: 50px !important;
    }
    font-weight: bold !important;
  
}  
.primero  {
    border-radius:   12px 0px  0px  12px  ;
}
.ultimo{
    border-radius:   0px 12px  12px  0px  ;
}