.icono {
    font-size: 164px !important;
}

 .icono {
    color: rgb(150, 209, 219) !important;
}

.boton {
    border-radius: 10px;
    margin-bottom: 10px;
}

.registrarse {
    --background: rgb(150, 209, 219) !important;
    color: white;
}
.iniciar {
    border: 1px solid  rgb(150, 209, 219) !important;
    --background:white;
    color:  rgb(150, 209, 219) !important;
}

a {
    color: rgb(150, 209, 219) !important;
}

ion-content {
    --background: rgb(243, 243, 243) !important;
    height: 100%;
}
ion-input {
    // background-color: blueviolet;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    ion-icon {
        padding: 5px;
        font-size: 26px;
    }
}

.btn-iniciar-sesion {
    --background: rgb(150, 209, 219) !important;
}

.btn-atras {
    color: rgb(150, 209, 219) !important;
    --padding-start:5px;
    button {
        margin-left: 5px;
    }
    margin-top: 10%;
}
.footer {
    color: gray;
    text-align: center;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.imagen1 {
    background-color: rgb(150, 209, 219) !important; 
    width: 120px; 
    margin: auto;
    border-radius: 50%;
    height: 120px;
    padding-top: 10px;
}
.imagen2 {
    margin-top: 10px;
    background-color: white; 
    width: 100px; 
    margin: auto;
    border-radius: 50%;
    height: 100px;
}
.icono-imagen {
    margin-top: 34px;
}
.imagenDespues {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.loading {
    margin-left: 46px;
    margin-top: 36px;
}