.desc-priv {
    font-weight: bold;
    color: gray;
}

.icon-cantidad {
    margin-right: 0px;
    margin-left: 0px;
}


.color {
    --background: #f5f5f5;
}
small{
    color: red;
}
.lato{
    font-family: 'Lato';
}
.label-cant {
    color: gray;
}
ion-list {
    padding: 0px;
}

.invisible {
    display: none;
}