<div class="ion-text-center" style="border-bottom: 1px solid black;">
  <h3 style="font-weight: bold;">
    {{this.idEvento}}
  </h3>
</div>

<!-- <svg id="barcode"></svg>  -->

<!-- <ngx-qrcode class="bshadow"
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  cssClass="bshadow"
  [margin]= "4"
  [scale] ="20"
  [width] = "'100%'"
  [colorDark]="'#000'"
  [colorLight]= "'#FFF'"
></ngx-qrcode> -->

<ion-button expand="full" class="ion-no-margin" color="dark" (click)="cerrarModal()">
  Cerrar 
</ion-button>
