.bloqueado {
    --background: #eeeded;
    background-color: #eeeded;
}
ion-thumbnail {
    height: 90px;
    width: 90px;
}
.nombreProducto {
    font-weight: bold;
}
ion-fab{
    bottom: 80px !important;
}
img {
    object-fit: contain !important;
}
.code-icons {
    margin-right: 3px;
    margin-left: 3px;
}
.carta {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(to right,#e66465, #9198e5);
    padding: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.nombreEvento {
    font-weight: bolder;
    text-shadow: 1px 1px black;
}
ion-item {
    --background: transparent;
}
ion-input {
    input {
        padding-right: 0px !important;
    }
    
}