ion-slides {
    height: 40%;
}

img {
    height: 100%;
    object-fit:revert;
}
.titulo {
    margin-top: 0px;
    margin-bottom: 5px;
    color: gray;
}
.campo {
    margin-top: 0px;
    margin-bottom: 15px;
}