<ion-content fullscreen="true">

  <ion-button fill="clear" [routerLink]="['/login']" routerDirection="back" class="btn-atras">
    <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="ion-text-center fadeInDown">
    <ion-icon name="gift" class="icono"></ion-icon>
  </div>
  <div class="ion-text-center fadeInDown">
    <h1 class="ion-no-margin">
      <b>
        GiftParty App
      </b>
    </h1>
    <p class="ion-no-margin">
      Tu gestor de eventos.
    </p>
  </div>

  <div class="ion-text-center " class="ion-padding">
    <ion-button class="boton registrarse fadeIn fadeIn.first" expand="block"  [routerLink]="['/login/correo/registro']" routerDirection="root" mode="ios">
      Registrarse
    </ion-button>
    <ion-button class="boton iniciar fadeIn fadeIn.second" expand="block" [routerLink]="['/login/correo/iniciar-sesion']" routerDirection="root" mode="ios">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>
